@model IEnumerable<project300_biostudent.models.studentuseraccount>
@{
    ViewBag.Title = "Enroll";
}

@{

    var urlPhoton = "https://api.particle.io/v1/devices?access_token=0ab4defa662936517739b7f732e14a199e30b4ce";
    string json = "";

    using (var client = new WebClient())
    {
        json = client.DownloadString(urlPhoton);
    }

    var jsonDecoded = Json.Decode(json);
    Console.Write("JSON CONNECTED: " + jsonDecoded[0].connected);
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title.</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--@Html.ActionLink("~/images/BioStudent_Logo.png", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })-->
                </div>
                <!-- Lecturer Login and Reistration Links -->
                <div class="collapse navbar-collapse colorLinks" id="bs-example-navbar-collapse-1">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("~/images/BioStudent_Logo.png")' class="logo" />
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li>@Html.ActionLink("Lecture Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Lecture Login", "Login", "Account")</li>*@
                        <li>@Html.ActionLink("Lecturer Profile", "LecturerProfile", "Account")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="jumbotron backColour">
        <header class="headerStyle">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Student Enrollment</h1>
                        </div>
                </div>
            </div>
        </header>
    </div>
<div class="jumbotron backColour2">
        <div class="container">            
            <ul class="nav nav-tabs">
                <li><a>@Html.ActionLink("Student List", "StudentList", "Account")</a></li>
                <li><a>@Html.ActionLink("Student Enroll", "Enroll", "Student")</a></li>
                @*<li><a>@Html.ActionLink("Student Enroll", "EnrollStudent", "Account")</a></li>*@
                <li><a>@Html.ActionLink("Grades", "Grades", "Account")</a></li>
                <li><a>@Html.ActionLink("Attendance", "Attendance", "Account")</a></li>
                <!--<li class="active"><a href="RAD.aspx">RAD</a></li>-->

            </ul>
        </div>

    <div class="jumbotron backColour2">
<div>
            <section>
    @*<h1>Enroll a Student</h1>*@
    @if (jsonDecoded[0].connected)
    {
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        Student Number: @Html.Raw(Session["StudentNum"].ToString())
                    </div>
                    <input type="hidden" id="studentnum" name="studentnum" value="@Html.Raw(Session["StudentNum"].ToString())" />
                </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Begin Enroll" class="btn btn-default" />
                        </div>
                    </div>
                    </div>
            }
        </div>
    }
    else
    {
        <div>
            <h3>The device is not connected, please try again later.</h3>
        </div>
    }
</section>
</div>
</div>
</body>
</html>