@{
    ViewBag.Title = "Lecturer Profile";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title.</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--@Html.ActionLink("~/images/BioStudent_Logo.png", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })-->
                    <a class="navbar-brand colorLink" href="~/Views/Home/Index.cshtml">
                        <img class="logo" src="~/images/BioStudent_Logo.png" />
                    </a>
                </div>
                <!-- Lecturer Login and Reistration Links -->
                <div class="collapse navbar-collapse colorLinks" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
                        @*<li>@Html.ActionLink("Lecture Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Lecture Login", "Login", "Account")</li>
                        *@
                        <li>@Html.ActionLink("Lecture Profile", "LecturerProfile", "Account")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
=======
                        <li>@Html.ActionLink("Lecture Register", "Register", "Account")</li>
                        <!-- Log out function to be added here -->
                        @*<li>@Html.ActionLink("Lecture Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Lecture Profile", "LecturerProfile", "Account")</li>
                        *@
>>>>>>> 0cd14e45258ac5e8b042cb92a5ba144fd15fb703
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="jumbotron backColour">
        <header class="headerStyle">
            <!--<div class="container">-->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Lecturer Profile</h1>
                        <!--<p class="small" />
                        <span class="subheading">Already a member? <a href="~/Account/Login">Log-in</a></span>-->
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="jumbotron backColour2">
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>Student Login</h4>
                    *@
                    <hr />
                    <section>This is where the section for the next links will be</section>

                </div>
            }
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

