@model Project300_BioStudent.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title.</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--@Html.ActionLink("~/images/BioStudent_Logo.png", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })-->
                    @*<li>@Html.Partial("_LoginPartial")</li>*@
                </div>
                <!-- Lecturer Login and Reistration Links -->
                <div class="collapse navbar-collapse colorLinks" id="bs-example-navbar-collapse-1">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("~/images/BioStudent_Logo.png")' class="logo" />
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="jumbotron backColour">
        <header class="headerStyle">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Lecturer Registration</h1>
                        <p class="small" />
                        <span class="subheading">Already a member? <a href="~/Account/Login">Log-in</a></span>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="jumbotron backColour2">
        <div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
            <div class="form-group">
                @*@Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        Full Name:
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.TeachingField, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        Teaching Field:
                        @Html.TextBoxFor(m => m.TeachingField, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TeachingField, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Institute, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        Institute:
                        @Html.TextBoxFor(m => m.Institute, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Institute, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@

                    <div class="col-md-12">
                        Email Address:
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        Password:
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        Confirm Password:
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.ProfilePhoto, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        Profile Photo:
                        <input type="file" name="ProfilePhoto" id="uploadImage" accept=".png,.jpg,.jpeg,.gif,.tif" />
                    </div>
            </div>
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
