@model IEnumerable<project300_biostudent.models.studentuseraccount>
    @{
        ViewBag.Title = "StudentList";
    }
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title.</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/styles/StyleSheet.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--@Html.ActionLink("~/images/BioStudent_Logo.png", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })-->
                        @*<a class="navbar-brand colorLink" href="~/Views/Home/Index.cshtml">
                            <img class="logo" src="~/images/BioStudent_Logo.png" />
                        </a>*@
                    </div>
                    <!-- Lecturer Login and Reistration Links -->
                    <div class="collapse navbar-collapse colorLinks" id="bs-example-navbar-collapse-1">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("~/images/BioStudent_Logo.png")' class="logo" />
                    </a>
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Lecture Register", "Register", "Account")</li>
                            <li>@Html.ActionLink("Lecture Login", "Login", "Account")</li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="jumbotron backColour">
            <header class="headerStyle">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="page-heading">
                            <h1>Student Listing</h1>
                        </div>
                    </div>
                </div>
            </header>
        </div>
<div class="jumbotron backColour2">
        <div class="container">            
            <ul class="nav nav-tabs">
                <li><a>@Html.ActionLink("Student List", "StudentList", "Account")</a></li>
                <li><a>@Html.ActionLink("Student Enroll", "Enroll", "Student")</a></li>
                @*<li><a>@Html.ActionLink("Student Enroll", "EnrollStudent", "Account")</a></li>*@
                <li><a>@Html.ActionLink("Grades", "Grades", "Account")</a></li>
                <li><a>@Html.ActionLink("Attendance", "Attendance", "Account")</a></li>
                <!--<li class="active"><a href="RAD.aspx">RAD</a></li>-->

            </ul>
        </div>

        <div class="jumbotron backColour2">
            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <table class="table">
                            <tr>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.FullName)*@
                                    Full Name
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.CourseName)*@
                                    Course Name
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.StudentNum)*@
                                    Student Number
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourseName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentNum)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
        </div>
    </body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
